.skillCard {
    
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .skillName {
    color: #ffffff;
    padding-bottom: 30px;
    align-self: center;
  } 

  .skillChart {
    color: goldenrod;
    align-self: center;
    font-size: 0.8em;
  } 
