.projectcard {
    background-color: #0B0C10;
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .SectionTitle {
    color: #66FCF1;
    font-size: 1.6em;
  } 

  .repoLink {
    color: goldenrod;
    align-self: center;
    font-size: 0.8em;
  } 
  .screenshot {
    height: 700px;
    align-self: center;
  }

@media only screen and (max-width: 768px) {
    /* For desktop: */
    
    .screenshot {
      height: 150px;
      align-self: center;
    }

}