.projectcard {
    background-color: #0B0C10;
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .SectionTitle {
    color: #66FCF1;
  } 

  .repoLink {
    color: goldenrod;
    align-self: center;
  } 
  .screenshot {
    
    height: 700px;
    align-self: center;
  }