.about {
    background-color: #0B0C10;
    padding-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: column;
   
  }

  .AboutHeader {
    width: inherit;
    background-color: darkgoldenrod;
    padding: 10px;
    padding-left: 30px;
  }

  .aboutBody {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
  }