.projects {
    background-color: #0B0C10;
    padding-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: column;
   
  }

  .projectsHeader {
    width: inherit;
    background-color: goldenrod;
    padding: 10px;
  }

  .projectsBody {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
  }