
  .body {
    background-color: #1f2833;
    height: 2000px;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    
  }

  .emptySpace {
    background-color: #1f2833;
    height: 40px;
  }
  
  .section {
    background-color: #0B0C10;
    padding: 30px;
    color: white;
  }
  
  
  
  